@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff') format('woff2'),
        url('../fonts/opensans.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensanslight.woff') format('woff2'),
        url('../fonts/opensanslight.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold.woff') format('woff2'),
        url('../fonts/gilroyextrabold.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextralight.woff') format('woff2'),
        url('../fonts/gilroyextralight.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
}