.buttons {
    border: none;
    background-color: $yellow-saturated;
    width: 220px;
    height: 8px;
    font-size: 18.5px;
    font-family: 'gilroy';
    font-weight: 900;
    letter-spacing: 3.7px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    
    &__text {
        display: block;
        text-align: center;
        margin-top: -7px;
    }
    
    &_services {
        width: 160px;
    }

    &_about {
        width: 260px;
    }

    &_contacts {
        width: 260px;
        margin-top: 100px;
    }
}