.footer {
    background-color: #464646;
    min-height: 323px;
    margin-top: 93px;
    position: relative;

    a:hover {
        color: rgb(175, 175, 175);
        transition: 0.1s all;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__adress {
        color: #ffffff;
        font-weight: 300;
        margin-top: -12px;
        margin-bottom: 80px;
    }
    &-line {
        width: 80px;
        height: 7px;
        background-color: $footer;
    }
    &__main {
        margin-top: 122px;
        &-list {
            list-style-type: none;
            padding-left: 0px;
            display: flex;
            margin-bottom: 66px;
        }
        &-item {
            font-family: 'gilroy';
            font-size: 18px;
            font-weight: 800;
            line-height: 1.33;
            letter-spacing: 3.6px;
            margin-right: 38px;
            &:nth-child(3) {
                margin-right: 0px;
            }
        }
        &-link {
            color: #ffffff;
        }
    }
    &__social {
        &-list {
            list-style-type: none;
            padding-left: 0px;
            display: flex;
            justify-content: center;
        }
        &-item {
            margin-right: 23px;
        }
            &:nth-child(3) {
                margin-right: 0px;
            }
        }
    &__user {
        margin-top: 54px;
        &-list {
            list-style-type: none;
            padding-left: 0px;
            display: flex;
            color: rgba(255, 255, 255, 0.7);
        }
        &-item {
            font-weight: 300;
        }
        &-login {
            color: #ffffff;
            margin-right: 64px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 13px;
                height: 12px;
                top: 50%;
                transform: translateY(-50%);
                left: -27px;
                background: url('../img/user-yellow.png');
            }
        }
        &-compare {
            color: #ffffff;
            margin-right: 64px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
                background: url('../img/compare-yellow.png');
            }
        }
        &-cart {
            color: #ffffff;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                top: 50%;
                transform: translateY(-50%);
                left: -24px;
                background: url('../img/cart-yellow.png');
            }
        }
    }
    &__phone {
        margin-top: 50px;
        display: block;
        color: #ffffff;
        text-align: right;
    }
    &__logo {
        position: absolute;
        bottom: 22px;
        right: 0px;
    }
}