.wrapper {
    width: 1160px;
    background-color: $bg-color;
    margin-top: 50px;
    position: relative;

    a:hover {
        color: rgb(83, 83, 83);
        transition: 0.1s all;
    }

    .user {
        &__list {
            display: flex;
            padding-top: 47px;
            list-style-type: none;
            padding-left: 0;
        }
        &__search {
            margin-left: 99px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                top: 50%;
                transform: translateY(-50%);
                left: -33px;
                background: url('../img/search.svg');
            }
        }
        &__log {
            margin-left: 383px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 13px;
                height: 12px;
                top: 50%;
                transform: translateY(-50%);
                right: 57px;
                background: url('../img/user.svg');
            }
        }
        &__compare {
            margin-left: 238px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 50%;
                transform: translateY(-50%);
                right: 80px;
                background: url('../img/compare.svg');
            }
        }
        &__cart {
            margin-left: 65px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                top: 50%;
                transform: translateY(-50%);
                right: 73px;
                background: url('../img/cart.svg');
            }
        }
        &__input {
            border: none;
            font-family: 'opensans';
            font-size: 15px;
            font-weight: 300;
            background-color: $bg-color;
            width: 150px;
            position: relative;
        }
    }

    .navigation {
        &__menu {
            display: flex;
            list-style-type: none;
            padding-left: 0;
            padding-top: 25px;
            font-family: 'gilroy';
            font-weight: 900;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 3.6px;
            padding-bottom: 165px;
        }

        &__item:first-child {
            padding-left: 60px;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                top: 3px;
                right: -28px;
                background: url('../img/plus.svg');
            }
        }
        &__item:nth-child(2) {
            padding-left: 326px;
        }
        &__item:nth-child(3) {
            padding-left: 38px;
        }
        &__item:last-child {
            padding-left: 114px;
        }
    }
    &__line {
        width: 100px;
        height: 7px;
        background-color: #ffffff;
        position: absolute;
        right: 458px;
        bottom: 65px;
    }
}