.sponsors {
    padding: 94px 0; 
    &__list {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        justify-content: space-around;
        align-items: center;
        filter: brightness(100%);
    }
    &__img {
        max-width: 260px;
        max-height: 100px;
        object-fit: contain;
        filter: grayscale(100%);
        transition: 0.1s all;
        &:hover {
            filter: grayscale(0%);
            transition: 0.2s all;
        }
    }
}